{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="font-sans">
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-2 p-1.5">
            <span class="sr-only">Your Company</span>
            <!-- <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#7b1e48] mx-auto">
                <p class="mx-auto text-white text-xs">Logo</p>
            </div> -->
            <img class="mx-auto h-12 w-12" src="{% static 'core/img/icon.png' %}" alt="Your Company">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Shop</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Blog</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Community</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">About</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="">
            </a>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
            </div>
            <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Product</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Features</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Marketplace</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Company</a>
                </div>
                <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </header>
    <div class="text-center flex flex-col items-center justify-center">
    
        <div id="counter" class="text-center animate-show flex justify-center">
            <div class="text-center flex flex-col items-center bg-[#7b1e48] py-8 px-2 rounded-lg">
                <h1 class="text-3xl sm:text-5xl font-light mb-8 text-white">Upcomming Drop!</h1>
                <div id="countdown" class="flex space-x-2">
                    <div class="flex flex-col items-center sm:p-8 w-14 md:w-28 rounded-md border bg-gray-100/80 text-[#7b1e58] border-white ">
                        <span id="years" class=" text-3xl sm:text-5xl font-bold ">0</span>
                        <span class="text-sm">Years</span>
                    </div>
                    <div class="flex flex-col items-center sm:p-8 w-14 md:w-28 rounded-md border bg-gray-100/80 text-[#7b1e58] border-white ">
                        <span id="months" class=" text-3xl sm:text-5xl font-bold ">0</span>
                        <span class="text-xs sm:text-sm">Months</span>
                    </div>
                    <div class="flex flex-col items-center sm:p-8 w-14 md:w-28 rounded-md border bg-gray-100/80 text-[#7b1e58] border-white ">
                        <span id="days" class=" text-3xl sm:text-5xl font-bold ">0</span>
                        <span class="text-xs sm:text-sm">Days</span>
                    </div>
                    <div class="flex flex-col items-center sm:p-8 w-14 md:w-28 rounded-md border bg-gray-100/80 text-[#7b1e58] border-white ">
                        <span id="hours" class=" text-3xl sm:text-5xl font-bold ">0</span>
                        <span class="text-xs sm:text-sm">Hours</span>
                    </div>
                    <div class="flex flex-col items-center sm:p-8 w-14 md:w-28 rounded-md border bg-gray-100/80 text-[#7b1e58] border-white ">
                        <span id="minutes" class=" text-3xl sm:text-5xl font-bold">0</span>
                        <span class="text-xs sm:text-sm">Minutes</span>
                    </div>
                    <div class="flex flex-col items-center sm:p-8 w-14 md:w-28 rounded-md border bg-gray-100/80 text-[#7b1e58] border-white ">
                        <span id="seconds" class=" text-3xl sm:text-5xl font-bold">0</span>
                        <span class="text-xs sm:text-sm">Seconds</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="final" class="animate-show hidden" >
            <h1 class="text-center text-emerald-700 ">GO!</h1>
            <button id="replay" class="bg-green-700 text-lime-200 m-4  rounded-md p-2">Restart</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/countdown.js' %}"></script>
{% endblock %}






