

{% extends 'base.html' %}
{% load static %}

{% block style_overide %}bg-gray-50{% endblock %}

{% block content %}
<div class="font-sans">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-2 p-1.5">
            <span class="sr-only">Your Company</span>
            <!-- <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#7b1e48] mx-auto">
                <p class="mx-auto text-white text-xs">Logo</p>
            </div> -->
            <img class="mx-auto h-12 w-12" src="{% static 'core/img/icon.png' %}" alt="Your Company">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Shop</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Blog</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Community</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">About</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div class="lg:hidden hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="">
            </a>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Close menu</span>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Product</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Features</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Marketplace</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Company</a>
              </div>
              <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  
    <div class="relative isolate px-6 p-8 lg:px-8 flex flex-col md:flex-row items-center w-screen mt-32">
      <div class="w-full md:w-1/2 flex flex-col items-center justify-center p-4">
        <div class="relative m-0 p-0">
          <img class="w-96 h-96 aspect-1 object-contain bg-gray-400 rounded-lg" src="{% static 'core/img/street-gear.png' %}" alt="Album Cover">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute top-1 right-1 hover:scale-110 m-2 w-10 h-10 text-white rounded-full p-2 bg-[#7b1e48]">
            <path d="M13.5759 17.2714L8.46576 14.484C7.83312 15.112 6.96187 15.5 6 15.5C4.067 15.5 2.5 13.933 2.5 12C2.5 10.067 4.067 8.5 6 8.5C6.96181 8.5 7.83301 8.88796 8.46564 9.51593L13.5759 6.72855C13.5262 6.49354 13.5 6.24983 13.5 6C13.5 4.067 15.067 2.5 17 2.5C18.933 2.5 20.5 4.067 20.5 6C20.5 7.933 18.933 9.5 17 9.5C16.0381 9.5 15.1669 9.11201 14.5343 8.48399L9.42404 11.2713C9.47382 11.5064 9.5 11.7501 9.5 12C9.5 12.2498 9.47383 12.4935 9.42408 12.7285L14.5343 15.516C15.167 14.888 16.0382 14.5 17 14.5C18.933 14.5 20.5 16.067 20.5 18C20.5 19.933 18.933 21.5 17 21.5C15.067 21.5 13.5 19.933 13.5 18C13.5 17.7502 13.5262 17.5064 13.5759 17.2714Z"></path>
          </svg>
        </div>
        <div class="m-4">
          <p class="text-2xl">Classic White Hoodie</p>
          <p class="text-gray-700">Outlines Essentials</p>
          <p class="text-md font-thin"> Winter 2025</p>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <div class="mx-2 md:top-8 md:absolute md:ml-0 md:mt-8 md:mr-8">
          <p class="text-xl">Description</p>
          <p class="">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.</p>
        </div>
        <div >
          <button class="mx-2 bg-[#7b1e48] text-white py-2 rounded-2xl px-4 mt-4 md:m-0">add to cart</button>
        </div>
      </div>
      
    </div>
    <div class="fixed bottom-3 right-3 flex flex-col gap-4">
        <div id="toast" class="text-white relative items-center justify-center h-16 bg-[#7b1e48] py-3 px-6 rounded-md">
            <div class="border-l-4 bg-non border-l-green-500 absolute h-14 top-1 left-2 rounded-md"></div>
            <div class="rounded-md -mt-1 relative">
                <div class="">
                    <h1>Success!</h1>
                    <p>Item added to cart.</p>
                </div>
            </div>    
        </div>
        <div id="toast" class="text-white relative items-center justify-center h-16 bg-[#7b1e48] py-3 px-6 rounded-md">
            <div class="border-l-4 bg-non border-l-green-500 absolute h-14 top-1 left-2 rounded-md"></div>
            <div class="rounded-md -mt-1 relative">
                <div class="">
                    <h1>Success!</h1>
                    <p>Item added to cart.</p>
                </div>
            </div>    
        </div>
        <div id="toast" class="text-white relative items-center justify-center h-16 bg-[#7b1e48] py-3 px-6 rounded-md">
            <div class="border-l-4 bg-non border-l-green-500 absolute h-14 top-1 left-2 rounded-md"></div>
            <div class="rounded-md -mt-1 relative">
                <div class="">
                    <h1>Success!</h1>
                    <p>Item added to cart.</p>
                </div>
            </div>    
        </div>
        <div id="toast" class="text-white relative items-center justify-center h-16 bg-[#7b1e48] py-3 px-6 rounded-md">
            <div class="border-l-4 bg-non border-l-blue-500 absolute h-14 top-1 left-2 rounded-md"></div>
            <div class="rounded-md -mt-1 relative">
                <div class="">
                    <h1>Info</h1>
                    <p>Login to checkout.</p>
                </div>
            </div>    
        </div>
        <div id="toast" class="text-white relative items-center justify-center h-16 bg-[#7b1e48] py-3 px-6 rounded-md">
            <div class="border-l-4 bg-non border-l-red-500 absolute h-14 top-1 left-2 rounded-md"></div>
            <div class="rounded-md -mt-1 relative">
                <div class="">
                    <h1>Error!</h1>
                    <p>Max (3) items reached.</p>
                </div>
            </div>    
        </div>
    </div>
   
</div>
    

{% endblock %}