{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/music-slider.css' %}">
{% endblock %}

{% block content %}
<div class="font-sans">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-2 p-1.5">
            <span class="sr-only">Your Company</span>
            <!-- <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#7b1e48] mx-auto">
                <p class="mx-auto text-white text-xs">Logo</p>
            </div> -->
            <img class="mx-auto h-12 w-12" src="{% static 'core/img/icon.png' %}" alt="Your Company">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Shop</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Blog</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Community</a>
          <a href="#" class="text-sm/6 font-semibold text-gray-900">About</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div class="lg:hidden hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="">
            </a>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Close menu</span>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Product</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Features</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Marketplace</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Company</a>
              </div>
              <div class="py-6">
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  
    <div class="relative isolate pt-14 flex flex-col items-center">
        <div class="bg-[#7b1e48] shadow-lg rounded-lg overflow-hidden w-80 sm:w-96 relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-white w-9 h-9 absolute right-2 top-2" viewBox="0 0 24 24" fill="currentColor">
                <path class="shadow-md" d="M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14ZM12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12C16 14.2091 14.2091 16 12 16Z"></path>
            </svg>
            <img class="w-full aspect-1 object-contain bg-gray-400" src="{% static 'core/img/street-gear.png' %}" alt="Album Cover">
            <div class="p-6">
                <h2 class="text-xl mb-2 text-gray-50 font-light">Classic White Hoodie</h2>
                <p class="text-gray-200">Outlines Essentials</p>
                <p class="text-white text-xs font-thin"> Winter 2025</p>
                <div class="mt-4 flex items-center justify-between">
                    <button class="text-gray-600 hover:text-gray-800 rounded-full bg-white p-2.5 shadow-sm shadow-black/70">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                        </svg>
                    </button>
                    <button class="text-gray-600 hover:text-gray-900 bg-white p-3 rounded-md flex items-center justify-center
                        shadow-sm shadow-black/70">
                        <svg class="w-9 h-9 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v18l14-9-14-9z"></path>
                        </svg>
                    </button>
                    <button class="text-gray-600 hover:text-gray-800 rounded-full bg-white p-2.5 shadow-sm shadow-black/70">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </button>
                </div>
                <div class="mt-4">
                    <input type="range" class="slider w-full rounded-xl border border-white" value="50">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'core/js/range.js' %}"></script>
{% endblock %}