{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-8 antialiased md:py-16 font-sans">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <div class="mx-auto max-w-7xl">
        <div class="w-20 h-20 rounded-full flex justify-center items-center bg-[#7b1e48] mx-auto">
            <p class="mx-auto text-white">Logo</p>
        </div>
        <h2 class="text-xl font-light sm:text-2xl text-center mt-8">Payment</h2>
  
        <div class="mt-4 lg:flex lg:items-center">
          <form action="#" class="w-full lg:max-w-xl lg:p-8">
            <div class="mb-2 grid grid-cols-2 gap-4">
              <div class="col-span-2 sm:col-span-2">
                <label for="full_name" class="mb-2 block text-sm font-medium"> Full name (as displayed on card)* </label>
                <input type="text" id="full_name" class="block w-full rounded-lg border  bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#7b1e48] sm:text-sm/6" placeholder="Bonnie Green" required />
              </div>
  
              <div class="col-span-2 sm:col-span-2">
                <label for="card-number-input" class="mb-2 block text-sm font-medium"> Card number* </label>
                <input type="text" id="card-number-input" class="block w-full rounded-lg border  bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#7b1e48] sm:text-sm/6" placeholder="xxxx-xxxx-xxxx-xxxx" pattern="^4[0-9]{12}(?:[0-9]{3})?$" required />
              </div>
  
              <div>
                <label for="card-expiration-input" class="mb-2 block text-sm font-medium ">Card expiration* </label>
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5">
                    <svg class="h-4 w-4  dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path
                        fill-rule="evenodd"
                        d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                  <input datepicker datepicker-format="mm/yy" id="card-expiration-input" type="text" class="block w-full rounded-lg border pl-8  bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#7b1e48] sm:text-sm/6" placeholder="12/23" required />
                </div>
              </div>
              <div>
                <label for="cvv-input" class="mb-2 flex items-center gap-1 text-sm font-medium ">
                  CVV*
                  <button data-tooltip-target="cvv-desc" data-tooltip-trigger="hover" class="text-gray-400 hover:text-gray-900">
                    <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <div id="cvv-desc" role="tooltip" class="tooltip invisible absolute z-10 inline-block rounded-lg">
                    The last 3 digits on back of card
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </label>
                <input type="number" id="cvv-input" aria-describedby="helper-text-explanation" min="0" class="block w-full rounded-lg border  bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#7b1e48] sm:text-sm/6" placeholder="•••" required />
              </div>
            </div>
            <button type="submit" class="flex w-full items-center justify-center rounded-lg mt-8 p-2 bg-[#7b1e48] text-white">Pay now</button>
          </form>
  
          <div class="mt-6 grow sm:mt-8 lg:mt-0 lg:w-1/2">
            <div class="space-y-2 rounded-lg">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal">Original price</dt>
                  <dd class="text-base font-medium ">$6,592.00</dd>
                </dl>
  
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal">Savings</dt>
                  <dd class="text-base font-medium text-green-500">-$299.00</dd>
                </dl>
  
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal">Store Pickup</dt>
                  <dd class="text-base font-medium ">$99</dd>
                </dl>
  
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal">Tax</dt>
                  <dd class="text-base font-medium ">$799</dd>
                </dl>
              </div>
  
              <dl class="flex items-center justify-between gap-4 border-t">
                <dt class="text-base font-bold ">Total</dt>
                <dd class="text-base font-bold ">$7,191.00</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}